[submodule "project/su26-proj1-starter"]
	path = project/su26-proj1-starter
	url = git@github.com:61c-teach/su26-proj1-starter.git
[submodule "project/lab"]
	path = project/lab
	url = git@github.com:61c-teach/fa26-lab-starter.git
[submodule "lab"]
	path = lab
	url = git@github.com:61c-teach/fa26-lab-starter.git
